[submodule "my_plugins/dart-vim-plugin"]
	path = my_plugins/dart-vim-plugin
	url = git@github.com:dart-lang/dart-vim-plugin.git
[submodule "my_plugins/fzf.vim"]
	path = my_plugins/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "my_plugins/onedark.vim"]
	path = my_plugins/onedark.vim
	url = git@github.com:whoislewys/onedark.vim.git
[submodule "my_plugins/vim-highlightedyank"]
	path = my_plugins/vim-highlightedyank
	url = git@github.com:machakann/vim-highlightedyank.git
[submodule "my_plugins/vim-hexokinase"]
	path = my_plugins/vim-hexokinase
	url = https://github.com/RRethy/vim-hexokinase
[submodule "my_plugins/coc.nvim"]
	path = my_plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "my_plugins/vim-game-code-break"]
	path = my_plugins/vim-game-code-break
	url = https://github.com/johngrib/vim-game-code-break
[submodule "my_plugins/limelight.vim"]
	path = my_plugins/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "my_plugins/lexima.vim"]
	path = my_plugins/lexima.vim
	url = https://github.com/cohama/lexima.vim
[submodule "my_plugins/vim-jsx-pretty"]
	path = my_plugins/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "my_plugins/yats.vim"]
	path = my_plugins/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
